@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h2 {
  @apply text-2xl font-bold md:text-3xl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl md:text-3xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

input[type="checkbox"] {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}

ul {
  @apply pb-8;
}
